# Citi Bike Data Cleaning
This notebook contains the code to clean the citi bike data. After the data is cleaned, the data will be exported as a csv file so that it can be used to build visualizations in Tableau.

### Dependencies

In [5]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

from pathlib import Path
import os, zipfile
import shutil
import glob

from datetime import datetime

### Extract Data From Zip

In [7]:
# unzip files in Resources folder.
extension = ".zip"
extracted_dir_name = "."

# Get the current working directory.
# change directory from working dir to dir with zip file.
cwd_dir_name = os.getcwd()
os.chdir("tableau-challenge")
os.chdir("Resources")
print(f"The current working directory is {cwd_dir_name}.")

dir_name = os.getcwd()
print(f"You are now in the following directory: {dir_name}.")

for item in os.listdir(dir_name): # loop through the items in the directory.
    if item.endswith(extension): # check for ".zip" extension"
        try:
            file_name = os.path.abspath(item) # get full path of files
            zip_ref = zipfile.ZipFile(file_name) # create zipfile object
            unzipped_directory = os.path.join(extracted_dir_name) # reference to the directory where the zip files will be extracted.
            zip_ref.extractall(unzipped_directory) # extract file to dir
            zip_ref.close() # close file
            print(f"Successfully unzipped {item} into the following folder:{dir_name}.")
        except Exception as e:
            print(f"Error trying to unzip data file(s).")
            print(e)
            
# Go up one directory into the project root directory.
os.chdir(os.path.normpath(os.getcwd() + os.sep + os.pardir))
print(os.path.normpath(os.getcwd() + os.sep + os.pardir))

The current working directory is C:\Users\sahob\Desktop\DataBootcamp.
You are now in the following directory: C:\Users\sahob\Desktop\DataBootcamp\tableau-challenge\Resources.
Successfully unzipped JC-citibike-tripdata.csv.zip into the following folder:C:\Users\sahob\Desktop\DataBootcamp\tableau-challenge\Resources.
C:\Users\sahob\Desktop\DataBootcamp

In [25]:
# Path to csv files.
path_to_csvs = os.path.join(".", "Resources")
all_files = glob.glob(os.path.join(path_to_csvs, "*.csv"))

df_file = []

for f in all_files:
    filename = os.path.basename(f)
    df = pd.read_csv(f, encoding ="ISO-8859-1")
    df["month"] = f"{filename[7]}{filename[8]}"
    df_file.append(df)

# Concantenated dataframe
concatenated_df = pd.concat(df_file, ignore_index=True)

In [27]:
# Replace Gender Codes with values from the Citi Website
concatenated_df['gender'].replace(to_replace=[0, 1, 2],
           value=['Unknown', 'Male', 'Female'],
           inplace=True)

# Show Dataframe
concatenated_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,month
0,131,2018-05-01 07:29:57.5490,2018-05-01 07:32:08.6160,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29617,Subscriber,1966,Male,05
1,73,2018-05-01 08:13:58.2560,2018-05-01 08:15:11.9230,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29288,Subscriber,1975,Male,05
2,4929,2018-05-01 08:17:21.3110,2018-05-01 09:39:31.0770,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,29520,Customer,1969,Unknown,05
3,432,2018-05-01 08:25:58.7150,2018-05-01 08:33:10.8960,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29595,Subscriber,1973,Male,05
4,432,2018-05-01 08:28:09.9160,2018-05-01 08:35:22.1440,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,33623,Subscriber,1959,Male,05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
791356,395,2020-05-31 23:35:50.9460,2020-05-31 23:42:26.5300,3202,Newport PATH,40.727224,-74.033759,3276,Marin Light Rail,40.714584,-74.042817,42250,Subscriber,1992,Male,05
791357,1681,2020-05-31 23:38:30.8240,2020-06-01 00:06:32.0360,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42396,Customer,1997,Male,05
791358,1657,2020-05-31 23:39:07.2680,2020-06-01 00:06:44.5740,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42331,Customer,1987,Male,05
791359,420,2020-05-31 23:45:28.3290,2020-05-31 23:52:28.3680,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,40517,Subscriber,1999,Male,05
791360,87,2020-05-31 23:50:55.8390,2020-05-31 23:52:23.0920,3272,Jersey & 3rd,40.723332,-74.045953,3211,Newark Ave,40.721525,-74.046305,42314,Subscriber,1976,Male,05

### Rename Columns

In [29]:
  concatenated_df = concatenated_df.rename(columns={
    "tripduration": "Trip Duration",
    "starttime": "Start Time",
    "stoptime": "Stop Time",
    "start station id": "Start Sation ID",
    "start station name": "Start Station Name",
    "start station latitude": "Start Station Latitude",
    "start station longitude": "Start Station Longitude",
    "end station id": "End Station ID",
    "end station name": "End Station Name",
    "end station latitude": "End Station Latitude",
    "end station longitude": "End Station Longitude",
    "bikeid": "Bike ID",
    "usertype": "User Type",
    "birth year": "Birth Year",
    "gender": "Gender",
    "month": "Month"
      
})

concatenated_df

,Trip Duration,Start Time,Stop Time,Start Sation ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End STation Longitude,Bike ID,User Type,Birth Year,Gender,Month
0,131,2018-05-01 07:29:57.5490,2018-05-01 07:32:08.6160,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29617,Subscriber,1966,Male,05
1,73,2018-05-01 08:13:58.2560,2018-05-01 08:15:11.9230,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29288,Subscriber,1975,Male,05
2,4929,2018-05-01 08:17:21.3110,2018-05-01 09:39:31.0770,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,29520,Customer,1969,Unknown,05
3,432,2018-05-01 08:25:58.7150,2018-05-01 08:33:10.8960,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29595,Subscriber,1973,Male,05
4,432,2018-05-01 08:28:09.9160,2018-05-01 08:35:22.1440,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,33623,Subscriber,1959,Male,05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
791356,395,2020-05-31 23:35:50.9460,2020-05-31 23:42:26.5300,3202,Newport PATH,40.727224,-74.033759,3276,Marin Light Rail,40.714584,-74.042817,42250,Subscriber,1992,Male,05
791357,1681,2020-05-31 23:38:30.8240,2020-06-01 00:06:32.0360,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42396,Customer,1997,Male,05
791358,1657,2020-05-31 23:39:07.2680,2020-06-01 00:06:44.5740,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42331,Customer,1987,Male,05
791359,420,2020-05-31 23:45:28.3290,2020-05-31 23:52:28.3680,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,40517,Subscriber,1999,Male,05
791360,87,2020-05-31 23:50:55.8390,2020-05-31 23:52:23.0920,3272,Jersey & 3rd,40.723332,-74.045953,3211,Newark Ave,40.721525,-74.046305,42314,Subscriber,1976,Male,05

In [30]:
concatenated_df.count()

Trip Duration              791361
Start Time                 791361
Stop Time                  791361
Start Sation ID            791361
Start Station Name         791361
Start Station Latitude     791361
Start Station Longitude    791361
End Station ID             791361
End Station Name           791361
End Station Latitude       791361
End STation Longitude      791361
Bike ID                    791361
User Type                  791361
Birth Year                 791361
Gender                     791361
Month                      791361
dtype: int64

### Calculate Rider Age

In [31]:
currentYear = datetime.now().year

concatenated_df["Rider Age"] = currentYear - concatenated_df["Birth Year"]

concatenated_df

,Trip Duration,Start Time,Stop Time,Start Sation ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End STation Longitude,Bike ID,User Type,Birth Year,Gender,Month,Rider Age
0,131,2018-05-01 07:29:57.5490,2018-05-01 07:32:08.6160,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29617,Subscriber,1966,Male,05,54
1,73,2018-05-01 08:13:58.2560,2018-05-01 08:15:11.9230,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29288,Subscriber,1975,Male,05,45
2,4929,2018-05-01 08:17:21.3110,2018-05-01 09:39:31.0770,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,29520,Customer,1969,Unknown,05,51
3,432,2018-05-01 08:25:58.7150,2018-05-01 08:33:10.8960,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29595,Subscriber,1973,Male,05,47
4,432,2018-05-01 08:28:09.9160,2018-05-01 08:35:22.1440,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,33623,Subscriber,1959,Male,05,61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
791356,395,2020-05-31 23:35:50.9460,2020-05-31 23:42:26.5300,3202,Newport PATH,40.727224,-74.033759,3276,Marin Light Rail,40.714584,-74.042817,42250,Subscriber,1992,Male,05,28
791357,1681,2020-05-31 23:38:30.8240,2020-06-01 00:06:32.0360,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42396,Customer,1997,Male,05,23
791358,1657,2020-05-31 23:39:07.2680,2020-06-01 00:06:44.5740,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42331,Customer,1987,Male,05,33
791359,420,2020-05-31 23:45:28.3290,2020-05-31 23:52:28.3680,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,40517,Subscriber,1999,Male,05,21
791360,87,2020-05-31 23:50:55.8390,2020-05-31 23:52:23.0920,3272,Jersey & 3rd,40.723332,-74.045953,3211,Newark Ave,40.721525,-74.046305,42314,Subscriber,1976,Male,05,44

In [32]:

concatenated_df.to_csv("clean_citi_bike_data.csv")